# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.*
!.env.example

# Build outputs
dist/
build/
coverage/

# OS/Editor files
.DS_Store
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*

# Misc
temp/
tmp/
